{% extends 'base.html' %}

{% block content %}
{% if recipe.image %}
    <img src="{{ recipe.image.url }}" alt="Zdjęcie potrawy" style="max-width: 400px; height: auto;">
{% else %}
    <p>Brak zdjęcia potrawy.</p>
{% endif %}
<h2>{{ recipe.name }}</h2>
<h3>Kategoria dania:</h3>
{% if recipe.is_vegan %}
    <p>🌱 Wegan</p>
{% elif recipe.is_vegetarian %}
    <p>🥗 Wegetariański</p>
{% else %}
    <p>🍗 Zawiera mięso</p>
{% endif %}

<p>{{ recipe.description }}</p>

<h3>Składniki:</h3>
<ul>
    {% for ingredient in recipe.ingredients.all %}
        <li>{{ ingredient.quantity }} {{ ingredient.unit }} - {{ ingredient.name }}</li>
    {% endfor %}
</ul>

<h3>Kroki przygotowania:</h3>
<ol>
    {% for step in recipe.steps.all %}
        <li>{{ step.description }}</li>
    {% endfor %}
</ol>
<a href="{% url 'prepare_meal' recipe.id %}" onclick="return confirm('Czy na pewno chcesz przygotować ten posiłek? Składniki zostaną zdjęte z lodówki.')">Przygotuj posiłek</a>


<a href="{% url 'recipe_list' %}">Wróć do listy przepisów</a>
{% endblock %}
