                {% if user.is_authenticated %}
                <div class="col-12 mt-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="available_only" name="available_only" {% if available_only %}checked{% endif %}>
                        <label class="form-check-label" for="available_only">
                            <i class="bi bi-refrigerator me-1"></i>Pokaż tylko przepisy możliwe do przygotowania z produktów w lodówce
                        </label>
                    </div>
                </div>
                {% endif %} 